{{ define "main" }}

<h1 class="blog-post-title">
    {{ .Title | markdownify }}
</h1>

<article class="blog-post">
    {{ range (where .Site.Pages "Type" "post" ).GroupByDate "2006" }}
    <h3>{{ .Key }}</h3>
    <ul>
        {{ range (where .Pages "Title" "not in" (slice "Posts")) }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .Date.Format "02.01.2006" }})
        </li>
        {{ end }}
    </ul>
    {{ end }}
</article>

{{ end }}
