{{ define "main" }}

{{ if eq .Kind "taxonomy"}}
    <div class="alert alert-secondary" role="alert">
        Записи по тегу <strong>{{.Title}}</strong> 
    </div>
{{end}}

{{ $truncate := default true .Site.Params.truncate }}
{{ $pages := .Pages }}
    {{ if .IsHome }}
        {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ end }}
{{ $paginator := .Paginate $pages }}
{{ range $paginator.Pages }}

    {{ if $truncate }}
        {{ .Render "summary" }}
    {{ else }}
        {{ .Render "content" }}
    {{ end }}

{{ end }}

{{ partial "paginator" . }}

{{ end }}

