<article class="blog-post">
    <header>
        <h1 class="blog-post-title">
            <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h1>
        {{ partial "post-date" . }}
        {{ partial "post-tags" . }}
        {{ partial "post-categories" . }}
    </header>
    {{ .Summary }}
    {{ if .Truncated }}
    <p></p>
    <a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
    {{ end }}
</article>

