{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}

{{ $author := .Params.author | default .Site.Params.author }}
<div class="blog-post-date text-secondary">
    {{ if not .Date.IsZero }}
        <i class="fas fa-calendar"></i> {{ .Date.Format $dateFormat }}
    {{ end }}
    {{ if $author }}
        <i class="fas fa-user"></i> <span rel="author">{{ $author }}</span>
    {{ end }}
</div>
