{{ if .Params.categories }}
<div class="blog-post-categories text-secondary">
    <i class="fas fa-archive"></i>
    {{ range .Params.categories }}
        <a class="badge badge-primary" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}