{{ if .Params.tags }}
<div class="blog-post-tags text-secondary">
    <i class="fas fa-tags"></i>
    {{ range .Params.tags }}
        <a class="badge badge-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}