{{ $num_recent_posts := default 5 .Site.Params.sidebar.num_recent_posts }}
{{ $posts := first $num_recent_posts (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ if gt (len $posts) 0 }}
<section>
    <h4>{{ i18n "recentPosts" }}</h4>
    <ul>
        {{ range $posts }}
        <li>
            <a href="{{.RelPermalink}}">{{.Title | markdownify }}</a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}