{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
    <h2>{{ i18n "related" }}</h2>
    <ul>
        {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
{{ end }}