<aside class="col-12 col-lg-3 ml-auto blog-sidebar">
    {{ if default true .Site.Params.sidebar.showRecent }}
        {{ partial "recent" . }}
    {{ end }}
    {{ if default true .Site.Params.sidebar.showTaxonomy }}
        {{ partial "taxonomies" . }}
    {{ end }}

    <section>
        <h4>Поддержать</h4>
        <a href="https://www.patreon.com/bePatron?u=55681609" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
        <br>
    </section>

</aside>
