<ul>
    {{ $tags := $.Site.Taxonomies.tags.ByCount }}
    {{ $v1 := where $tags "Count" ">=" 5 }}
    {{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
    {{ range $v2 }}
        {{ if .Term }}
            {{ $tagURL := printf "tags/%s" .Term | relURL }}
            <li><a href="{{ $tagURL }}" >{{ .Term }}</a> ({{ .Count }} постов)</li>
        {{ end }}
    {{ end }}
</ul>